.home {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: auto;
}

.home__title {
	margin-top: 10rem;
	font-size: 5rem;
	background-color: rgb(251, 227, 128);
	color: rgb(220, 0, 0);
	padding: 1.4rem;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 7.5px 15px 0px;
}

.home__button {
	font-family: 'Spongeboy Me Bob';
	margin: auto;
	margin-top: 4rem;
	width: 13rem;
	height: 3.6rem;
	font-size: 1.6rem;
	border-radius: 2rem;
	background-color: rgb(220, 0, 0);
	color: white;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 7.5px 15px 0px;
}

.home__button:hover {
	cursor: pointer;
	width: 13.8rem;
	height: 3.8rem;
	font-size: 1.7rem;
	color: rgb(251, 227, 128);
}

@media only screen and (max-width: 1300px) {
	.home__title {
		font-size: 4rem;	
	}

	.home__button {
		width: 12rem;
		height: 3.4rem;
		font-size: 1.4rem;
	}

	.home__button:hover {
		width: 12.8rem;
		height: 3.6rem;
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 1050px) {
	.home__title {
		font-size: 3rem;	
	}

	.home__button {
		width: 11rem;
		height: 3.2rem;
		font-size: 1.3rem;
	}

	.home__button:hover {
		width: 11.8rem;
		height: 3.4rem;
		font-size: 1.4rem;
	}
}

@media only screen and (max-width: 800px) {
	.home__title {
		font-size: 2rem;	
	}

	.home__button {
		width: 10rem;
		height: 3rem;
		font-size: 1.1rem;
	}

	.home__button:hover {
		width: 10.8rem;
		height: 3.2rem;
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 550px) {
	.home__title {
		font-size: 1.2rem;	
		padding: 0.8rem;
	}

	.home__button {
		width: 9rem;
		height: 2rem;
		font-size: 0.9rem;
		margin-top: 1.5rem;
	}

	.home__button:hover {
		width: 9.8rem;
		height: 2.4rem;
		font-size: 1rem;
	}
}
